<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <title>Iris Emotion Recognition</title>
</head>

<body>

  <nav>
    <div class="nav-wrapper black">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/subir">Subir video</a></li>
        <li><a href="/upload">Visualizar video</a></li>
        <li><a href="/emotions">Emociones</a></li>
        <li><a href="/tags">Modelo Entrenamiento</a></li>
      </ul>
    </div>
  </nav>
  <h2></h2>
  <p class="center-align">
  <svg width="615" height="245" class="center-align"></svg>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script type="text/javascript">
    var datos = [330, 200, 0, 130, 0, 330, 0, 0];
    var config = {
      columnWidth: 60,
      columnGap: 5,
      margin: 10,
      height: 250
    };

    d3.select("svg")
      .selectAll("rect")
      .data(datos)
      .enter().append("rect")
      .attr("width", config.columnWidth)
      .attr("x", function(d, i) {
        return config.margin + i * (config.columnWidth + config.columnGap)
      })
      .attr("y", function(d, i) {
        return config.height - d
      })
      .attr("height", function(d, i) {
        return d
      })
  </script>
  <h1></h1>
  <p class="center-align"> HAPPY    SAD ANGRY CONFUSED DISGUSTED SURPRISED CALM UNKNOWN</p>
  <p class="center-align">De izquierda a derecha se encuentran los valores de:</p>
</p>

<p class="center-align">
  <button action="/download" method="GET" id="descargar"class="btn grey darken-2">Descargar emociones</button>
</p>


  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script type="text/javascript">
  $("#descargar").click(function(){
    window.open('/download');
  });

  descargar.addEventListener("click",function(){
    alert("Recuerde que si no espero el tiempo debido para el procesamiento del video no se descargara el archivo con los datos correctos");
  });
  </script>
</body>

</html>
