<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <title>Iris Emotion Recognition</title>
</head>

<body>
  <div class="container">
    <h1>File Upload</h1>
    <%=typeof msg !='undefined' ? msg : '' %>
    <form>Favor tener en cuenta que antes de ir a poner los tags hay que subir un video, gracias</form>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <div class="file-field input-field">
        <div class="btn grey">
          <span>File</span>
          <input name="video" type="file">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
      <button type="submit" class="btn">Submit</button>
    </form>
    <form>
      <div id="loader">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </form>
    <form action="/tags" method="POST">
      <button class="btn">Tags</button>
    </form>
    <video id="myvideo" src="<%=typeof file !='undefined' ? file : '' %>" width="400" height="400" controls=True class="responsive-img"></video>
  </div>
  </script>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script type="text/javascript">
    var myvideo = document.getElementById('myvideo');
    window.onload = function() {
      var tmp = document.getElementById("myvideo").src.split("/");
      //var tmp2 = document.getElementById("duracion").innerHTML = document.getElementById("myvideo").duration;

      if(tmp[tmp.length-1]=="video.mp4"){
        document.getElementById("loader").classList.toggle("preloader-wrapper");
        document.getElementById("loader").classList.toggle("active");
      }
    };
  </script>
</style>
<svg width="315" height="245"></svg>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>
var datos = [330, 200, 00, 130, 00, 330, 00, 00 ];
var config = { columnWidth: 45, columnGap: 5, margin: 10, height: 250  };

d3.select("svg")
    .selectAll("rect")
    .data(datos)
  .enter().append("rect")
    .attr("width", config.columnWidth)
    .attr("x", function(d,i) { return config.margin + i * (config.columnWidth + config.columnGap) })
    .attr("y", function(d,i) { return config.height - d })
    .attr("height", function(d,i) { return d })
</script>
De izquierda a derecha se encuentran los valores de:
<br>
HAPPY,SAD,ANGRY,CONFUSED,DISGUSTED,SURPRISED,CALM,UNKNOWN
</body>

</html>
