<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <title>Iris Emotion Recognition</title>
</head>

<body>

  <nav>
    <div class="nav-wrapper black">
      <ul id="nav-mobile" class="center-align hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/subir">Subir video</a></li>
        <li><a href="/upload">Visualizar video</a></li>
        <li><a href="/tags">Modelo Entrenamiento</a></li>
      </ul>
    </div>
  </nav>
  <h1></h1>

  <div class="container">
    <video id="myvideo" src ="uploads/video.mp4" width="400" height="400" controls=True class="responsive-img">
    </video>


    <!--Acá voy a crear los 3 select de acuerdo a
       lo solicitado y debajo de ellos el boton tag para que
     cree un selectbox con el tag y el tiempo-->

    <!--Acá voy a crear los 3 select de acuerdo a
      lo solicitado y debajo de ellos el boton tag para que
     cree un selectbox con el tag y el tiempo-->
    <p class="selectb">
      <select id="selcomp" class="browser-default grey">
        <option value=0>Comportamentales</option>
        <option value="Falla en la atención">Falla atención</option>
        <option value="Problemas lenguaje">Problema lenguaje</option>
        <option value="Falla en la memoria">Falla memoria</option>
        <option value="Pérdida de hilo">Perdida hilo</option>
        <option value="Aumento volumen de voz">Aumento volumen voz</option>
        <option value="Disminuye volumen voz">Diminuye volumen voz</option>
        <option value="Aumento velocidad discurso">Aumento velocidad del discurso</option>
        <option value="Disminuye velocidad discurso">Disminuye velocidad discurso</option>
        <option value="Perdida contacto visual">Perdida contacto visual</option>
        <option value="Aumento de atención">Aumento de atención</option>
        <option value="Aumento de memoria">Aumento de memoria</option>
        <option value="Aumento contacto visual">Aumento del contacto visual</option>
      </select>
      <select id="seltarg" class="browser-default grey">
        <option value=0>Argumentativas</option>
        <option value="Dato">Dato</option>
        <option value="Conclusión">Conclusión</option>
        <option value="Referencia">Referencia</option>
        <option value="<Garantía>">Garantía</option>
        <option value="Modalizador">Modalizador</option>
        <option value="<Refutaciones>">Refutaciones</option>
        <option value="Diálogo">Diálogo</option>
      </select>
      <select id="selleng" class="browser-default grey">
        <option value=0>Lenguaje</option>
        <option value="Deónticos">Deónticos</option>
        <option value="Cromatizadores">Cromatizadores</option>
        <option value="Estrategías de ocultamiento">Estrategías de ocultamiento</option>
        <option value="Generalización">Generalización</option>
        <option value="Supresión">Supresión</option>
        <option value="Construcción">Construcción</option>
        <option value="Repetición">Repetición</option>
        <option value="Metáfora">Metáfora</option>
        <option value="Comparación">Comparación</option>
        <option value="Paralelismo">Paralelismo</option>
        <option value="Ironía">Ironía</option>
        <option value="Hipérbole">Hipérbole</option>
        <option value="Eufemismos">Eufemismos</option>
        <option value="Aliteración">Aliteración</option>
      </select>
      <select id="selot" class="browser-default grey">
        <option value=0>Otros</option>
        <option value="Insultar">Insultar</option>
        <option value="Usar fuerza fisica">Usar fuerza fisica</option>
        <option value="Congelarse">Congelarse</option>
        <option value="Vacilar">Vacilar</option>
        <option value="Rumiar">Rumiar</option>
        <option value="Llorar">Llorar</option>
        <option value="Protestar">Protestar</option>
        <option value="Evitar">Evitar</option>
        <option value="Cuestionar">Cuestionar</option>
      </select>
    </p>

    <p class="tag">
      <button id="create" class="btn grey darken-2">Crear Tag</button>
      <button id="ir"class="btn grey darken-2">Ir al tag</button>
      <button id="borrar"class="btn grey darken-2">Borrar Tag</button>
    </p>
    <p>
      <button action="/download" method="GET" id="descargar"class="btn grey darken-2">Descargar emociones</button>
    </p>

  </div>




  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script type="text/javascript">
    $("#descargar").click(function(){
      window.open('/download');
    });

    descargar.addEventListener("click",function(){
      alert("Recuerde que si no espero el tiempo debido para el procesamiento del video no se descargara el archivo con los datos correctos");
    });
    var myvideo = document.getElementById('myvideo');
    //Creo el select para ir guardando los tags
    var sel = document.createElement("select");
    sel.name = "seltags";
    sel.id = "sel";
    sel.classList.toggle("browser-default");
    sel.classList.toggle("grey");
    var t = document.createTextNode("Select tag");
    sel.appendChild(t);
    //Los arreglos son para guardar el tag y el tiempo
    //Para luego mostrarlos en forma de bitacora al final
    var artag = [];
    var artime = [];
    var contador = 0;
    descargar.addEventListener("click",function(){

    });
    //Este es el metodo para cuando se presiona el boton tag
    create.addEventListener("click", function() {
      myvideo.pause();
      var time = myvideo.currentTime;
      //t = document.createTextNode("")
      var option = document.createElement("option");
      option.value = time;
      var tmp = document.getElementById("selcomp"),
        tmp1 = document.getElementById("seltarg"),
        tmp2 = document.getElementById("selleng"),
        tmp3 = document.getElementById("selot");
      if (tmp.options[tmp.selectedIndex].value != 0) {
        option.text = String(tmp.options[tmp.selectedIndex].value) + ":" + String(time);
        sel.appendChild(option);
        document.getElementsByClassName("tag")[0].appendChild(sel);
        artag.push(String(tmp.options[tmp.selectedIndex].value));
        artime.push(time);
        tmp.selectedIndex = 0;
      } else if (tmp1.options[tmp1.selectedIndex].value != 0) {
        option.text = String(tmp1.options[tmp1.selectedIndex].value) + ":" + String(time);
        sel.appendChild(option);
        document.getElementsByClassName("tag")[0].appendChild(sel);
        artag.push(String(tmp1.options[tmp1.selectedIndex].value));
        artime.push(time);
        tmp1.selectedIndex = 0;
      } else if (tmp2.options[tmp2.selectedIndex].value != 0) {
        option.text = String(tmp2.options[tmp2.selectedIndex].value) + ":" + String(time);
        sel.appendChild(option);
        document.getElementsByClassName("tag")[0].appendChild(sel);
        artag.push(String(tmp2.options[tmp2.selectedIndex].value));
        artime.push(time);
        tmp2.selectedIndex = 0;
      } else if (tmp3.options[tmp3.selectedIndex].value != 0) {
        option.text = String(tmp3.options[tmp3.selectedIndex].value) + ":" + String(time);
        sel.appendChild(option);
        document.getElementsByClassName("tag")[0].appendChild(sel);
        artag.push(String(tmp3.options[tmp3.selectedIndex].value));
        artime.push(time);
        tmp3.selectedIndex = 0;
      }
      for(i = 0;i<artag.length;i++){
        var obj = {
          tag:artag[i]
        };
      }
    });

    ir.addEventListener("click", function() {
      myvideo.play();
      myvideo.pause();
      myvideo.currentTime = document.getElementById("sel").value;
    });
    borrar.addEventListener("click", function(){
      var tm = document.getElementById("sel");
      tm.remove(tm.selectedIndex);
    });

  </script>


</body>

</html>
