<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <title>Iris Emotion Recognition</title>
</head>

<body>

  <nav>
    <div class="nav-wrapper black">
      <ul id="nav-mobile" class="center-align hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/subir">Subir video</a></li>
        <li><a href="/upload">Visualizar video</a></li>
        <li><a href="/tags">Modelo Entrenamiento</a></li>
      </ul>
    </div>
  </nav>


  <div class="container">
    <h1></h1>
    <video id="myvideo" src="uploads/video.mp4" width="400" height="400" controls=True class="responsive-img"></video>
  </div>
  <h1></h1>
  <svg width="315" height="245"></svg>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script>
    var datos = [330, 200, 00, 130, 00, 330, 00, 00];
    var config = {
      columnWidth: 45,
      columnGap: 5,
      margin: 10,
      height: 250
    };

    d3.select("svg")
      .selectAll("rect")
      .data(datos)
      .enter().append("rect")
      .attr("width", config.columnWidth)
      .attr("x", function(d, i) {
        return config.margin + i * (config.columnWidth + config.columnGap)
      })
      .attr("y", function(d, i) {
        return config.height - d
      })
      .attr("height", function(d, i) {
        return d
      })
  </script>
  De izquierda a derecha se encuentran los valores de:
  <br>
  HAPPY,SAD,ANGRY,CONFUSED,DISGUSTED,SURPRISED,CALM,UNKNOWN
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>
